img.upload-img {
    height: 100px;
    width: 108px;
    border: 1px solid #DFE3E5;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
    padding: 0px;
}
img.upload-img0 {
    height: 100px;
    width: 108px;
    border: 1px solid #DFE3E5;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
    padding: 0px;
}
img.upload-img1 {
    height: 100px;
    width: 108px;
    border: 1px solid #DFE3E5;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
    padding: 0px;
}
img.upload-img2 {
    height: 100px;
    width: 108px;
    border: 1px solid #DFE3E5;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
    padding: 0px;
}