.card-header {
  font-size: 1rem;
  font-weight: 500;
}
.custom-control-input:checked~.custom-control-label::before{
  background-color: #28a745;
    border-color: #28a745;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -2;
}