.form-signin {
  width: 300px;
  margin: 3px auto;
}
.form-signin .card-header{
	padding-top: 16px;
}
.card-signin {
  margin-top: 178px;  
  height: 397px;
  width: 482px;
  border: 1px solid #dfe3e5;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}
.card-signin .card-title {
  color: #3e4348;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.card-signin .card-body {
  padding: 2rem;
}
