:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  font-size: .875rem;
  /* background-color :#f4f6f8; */
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.navbar{
  padding:6px 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav{
  margin-top: 30px;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 5px 15px 5px 49px;
}
.sidebar .nav-link .nav-link-icon{
  display: none;
}
.sidebar .nav-link.active .fa{
  display: inline-block;
}

.sidebar .nav-link.active {
  color: #027840;	font-family: Arial;	font-size: 15px;	font-weight: bold;	line-height: 17px; padding-left: 15px;
}
.sidebar .nav-link.active .nav-link-icon{
  display: inline-block;
  margin-right: 12px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.logout_sidebar_button{
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 15px;
  width: 100%;
}
.logout_sidebar_button .nav-link{
  padding-left: 0px;
  margin-bottom: 10px;
}
/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 60px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */


.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*
 * signin
 */




.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f8f9fa;
   /* color: white; */
   text-align: center;
}


